<h2>
    <span ng-hide="ctrl.item.id">Create Author</span>
    <span ng-show="ctrl.item.id">Edit Author: {{ctrl.item.firstName}} {{ctrl.item.lastName}} </span>
</h2>

<div flash-message ></div>

<form name="form" class="form-horizontal" role="form" novalidate>

    <div field-container label="First Name" invalid="form.firstName.$invalid">
        <input name="firstName" ng-model="ctrl.item.firstName" required />
    </div>

    <div field-container label="Last Name" invalid="form.lastName.$invalid">
        <input name="lastName" ng-model="ctrl.item.lastName" required />
    </div>

    <div>
        <button crud-button="save" item="ctrl.item" is-disabled="form.$invalid"></button>
        <button crud-button="cancel"></button>
    </div>
</form>

