<h2>Show Book</h2>
<div flash-message ></div>

<table class="table table-bordered">

    <tr display-field label="Title" value="ctrl.item.title"></tr>

    <tr display-field label="Author" value="ctrl.item.author"></tr>

    <tr display-field label="Publish Date" value="ctrl.item.publishDate"></tr>

    <tr display-field label="Page Count" value="ctrl.item.pageCount"></tr>

    <tr display-field label="Price" value="ctrl.item.price"></tr>


</table>

<div class="form-actions">
    <button crud-button="edit" item="ctrl.item"></button>
    <button crud-button="cancel" ></button>
</div>